In [8]:
import pandas as pd

In [9]:
tiburones2 = pd.read_csv("/Users/lolonastri/Desktop/POO_UCEMA/trabajos_practicos/trabajo_practico_0/sharks/attracks.csv", encoding= "latin-1")
tiburones2 = tiburones2.drop(columns = ["Unnamed: 22", "Unnamed: 23", "pdf", "href formula", "href", "Case Number.1", "Case Number.2", "original order", "Case Number", "Investigator or Source", "Location", "Name", "Time"])
tiburones2

,Date,Year,Type,Country,Area,Activity,Sex,Age,Injury,Fatal (Y/N),Species
0,18-Sep-16,2016,Unprovoked,USA,Florida,Surfing,M,16,Minor injury to thigh,N,NaN
1,18-Sep-16,2016,Unprovoked,USA,Florida,Surfing,M,36,Lacerations to hands,N,NaN
2,18-Sep-16,2016,Unprovoked,USA,Florida,Surfing,M,43,Lacerations to lower leg,N,NaN
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Surfing,M,NaN,Struck by fin on chest & leg,N,NaN
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Surfing,M,NaN,No injury: Knocked off board by shark,N,2 m shark
...,...,...,...,...,...,...,...,...,...,...,...
5987,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Diving,M,NaN,FATAL,Y,NaN
5988,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,M,NaN,FATAL,Y,NaN
5989,1900-1905,0,Unprovoked,USA,North Carolina,Swimming,M,NaN,FATAL,Y,NaN
5990,1883-1889,0,Unprovoked,PANAMA,NaN,NaN,M,NaN,FATAL,Y,NaN
5991,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN

___

# 2) ¿Cuál es el top 10 de países con mayor cantidad de fatalidades registradas?

In [10]:
df_2 = tiburones2[tiburones2["Fatal (Y/N)"] == "Y"]["Country"].value_counts().head(10)
df_2

Country
AUSTRALIA           341
USA                 246
SOUTH AFRICA        137
PAPUA NEW GUINEA     56
MEXICO               43
BRAZIL               40
PHILIPPINES          37
NEW ZEALAND          28
REUNION              27
CUBA                 24
Name: count, dtype: int64

___

    ➢ Conclusión:
    
    Podemos observar que la mayor cantidad de fatalidades ocurren en Australia.

___

    ➢ Con respecto a la pregunta número 2, pudimos identificar 2 tipos de sesgos distintos:

    1) Sesgo geográfico: Los países con una mayor población o una mayor actividad en el agua, como en el caso de Australia, pueden tener más casos registrados simplemente debido a la exposición más alta a los tiburones.

    2) Sesgo de notificación/reporte: La cantidad de fatalidades registradas puede verse afectada por la cantidad de informes disponibles en los distintos países y el grado de intensidad de la cobertura mediática (antención, reportaje, exposición).