In [7]:
import pandas as pd

In [8]:
tiburones4 = pd.read_csv("/Users/lolonastri/Desktop/POO_UCEMA/trabajos_practicos/trabajo_practico_0/sharks/attracks.csv", encoding= "latin-1")
tiburones4 = tiburones4.drop(columns = ["Unnamed: 22", "Unnamed: 23", "pdf", "href formula", "href", "Case Number.1", "Case Number.2", "original order", "Case Number", "Investigator or Source", "Location", "Name", "Time"])
tiburones4

,Date,Year,Type,Country,Area,Activity,Sex,Age,Injury,Fatal (Y/N),Species
0,18-Sep-16,2016,Unprovoked,USA,Florida,Surfing,M,16,Minor injury to thigh,N,NaN
1,18-Sep-16,2016,Unprovoked,USA,Florida,Surfing,M,36,Lacerations to hands,N,NaN
2,18-Sep-16,2016,Unprovoked,USA,Florida,Surfing,M,43,Lacerations to lower leg,N,NaN
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Surfing,M,NaN,Struck by fin on chest & leg,N,NaN
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Surfing,M,NaN,No injury: Knocked off board by shark,N,2 m shark
...,...,...,...,...,...,...,...,...,...,...,...
5987,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Diving,M,NaN,FATAL,Y,NaN
5988,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,M,NaN,FATAL,Y,NaN
5989,1900-1905,0,Unprovoked,USA,North Carolina,Swimming,M,NaN,FATAL,Y,NaN
5990,1883-1889,0,Unprovoked,PANAMA,NaN,NaN,M,NaN,FATAL,Y,NaN
5991,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN

___

# 4) ¿Cuántas mujeres fueron atacadas por tiburones blancos?

In [9]:
tipo_de_ataque = tiburones4[tiburones4["Species "] == 'White shark'][tiburones4["Sex "] == 'F'] 
# tipo_de_ataque.count()
tipo_de_ataque["Fatal (Y/N)"].count()

/var/folders/xx/hcklcr8s0rxd7p5fz63z342w0000gn/T/ipykernel_78181/2859577031.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tipo_de_ataque = tiburones4[tiburones4["Species "] == 'White shark'][tiburones4["Sex "] == 'F']

9

___

    ➢ Conclusión: 
     
    Podemos observar que la cantidad de mujeres afectadas por un tiburón blanco o 'White Shark' es de 9.

___

    ➢ Con respecto a la pregunta número 4, pudimos identificar 1 tipo de sesgo:

    1) Sesgo de selección: Al considerar solo ataques de tiburones blancos, lo que sucede es que se está excluyendo a otras especies de tiburones que también podrían haber realizado ataques. Esto podría dar la impresión de que los tiburones blancos son los únicos culpables de los ataques. Además, al solo considerar como género a las mujeres, se podría llegar a pensar que los tiburones blancos solamente atacan mujeres, pero no es el caso.