# Tabaquismo Alcohol
1. Levantar los tres dataframes Nivel de actividad fisical 2022 y 2023 + tabaquismo y alcohol
2. Unificar todos los dataset de 2023 y tener todas las columnas igual que el 2022
3. Crear un dataset que tenga toda la data de 2022 y 2023
4. Relacion entre consumo de alcohol y cancer (hint groupby mean)
5. Relacion entre tabaquismo y cancer (hint groupby)
6. Correlacion entre tabaquismo y cancer
7. Correlacion entre consumo de alcohol y cancer
5. ¿Cree que es el alcohol o es el tabaquismo el mayor causante de cancer?

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import openpyxl

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

___

# 1) Levantar los tres dataframes Nivel de actividad fisical 2022 y 2023 + tabaquismo y alcohol

In [3]:
df_tabaquismo = pd.read_csv('/Users/lolonastri/Desktop/POO_UCEMA/parciales/primer_parcial/ejercicio6/tabaquismo_alcohol_cancer_2023.csv')
df_tabaquismo

,Unnamed: 0,ID,Edad,Consumo_Alcohol,Tabaquismo,Dieta,Incidencia_Cancer
0,0,1,20,1,1,2,0
1,1,2,23,3,0,4,0
2,2,3,23,8,0,3,0
3,3,4,59,3,0,4,0
4,4,5,29,3,0,1,0
...,...,...,...,...,...,...,...
95,95,96,23,3,1,1,0
96,96,97,54,4,1,1,0
97,97,98,33,8,0,3,0
98,98,99,59,8,0,1,0
99,99,100,41,6,1,4,1

___

In [4]:
df_nivel_actividad_fisica_2023 = pd.read_csv('/Users/lolonastri/Desktop/POO_UCEMA/parciales/primer_parcial/ejercicio6/Nivel_Actividad_Fisica_2023.csv')
df_nivel_actividad_fisica_2023

    Unnamed: 0   ID  Nivel_Actividad_Fisica  Nivel_Estres
0            0    1                       2             1
1            1    2                       1             4
2            2    3                       1             3
3            3    4                       2             3
4            4    5                       1             4
..         ...  ...                     ...           ...
95          95   96                       3             4
96          96   97                       4             4
97          97   98                       3             2
98          98   99                       3             4
99          99  100                       3             2

[100 rows x 4 columns]

___

In [5]:
df_nivel_actividad_fisica_2022 = pd.read_csv('/Users/lolonastri/Desktop/POO_UCEMA/parciales/primer_parcial/ejercicio6/Nivel_Actividad_Fisica_2022.csv')
df_nivel_actividad_fisica_2022

,Unnamed: 0,ID,Edad,Consumo_Alcohol,Tabaquismo,Dieta,Incidencia_Cancer,Nivel_Actividad_Fisica,Nivel_Estres
0,0,101,20,5,1,3,1,4,4
1,1,102,23,6,1,1,1,2,3
2,2,103,23,6,0,2,0,2,2
3,3,104,59,7,0,3,0,1,3
4,4,105,29,9,0,4,0,4,2
5,5,106,39,5,1,3,1,1,3
6,6,107,41,2,0,3,0,3,1
7,7,108,56,5,1,4,1,4,3
8,8,109,43,9,1,2,1,4,1
9,9,110,26,2,1,1,0,2,2
10,10,111,44,2,0,1,0,4,2
11,11,112,44,8,1,1,1,2,2
12,12,113,32,4,0,4,0,4,1
13,13,114,21,7,0,4,0,3,4
14,14,115,58,8,1,1,1,1,1
15,15,116,59,3,0,3,0,2,4
16,16,117,43,1,1,3,0,2,1
17,17,118,44,4,1,1,0,4,1
18,18,119,37,6,0,1,0,4,1
19,19,120,57,5,0,4,0,4,1
20,20,121,45,5,1,1,1,2,2
21,21,122,33,7,0,2,0,2,4
22,22,123,28,5,1,3,1,2,4
23,23,124,29,5,0,1,0,4,1
24,24,125,40,4,1,1,0,4,4
25,25,126,36,5,0,4,0,3,3
26,26,127,25,5,1,2,1,3,3
27,27,128,35,9,0,4,0,3,2
28,28,129,20,5,1,1,1,1,2
29,29,130,38,4,0,3,0,4,2
30,30,131,55,8,0,2,0,4,3
31,31,132,44,6,0,2,0,2,2
32,32,133,49,6,1,2,1,3,2
33,33,134,39,1,0,4,0,4,1
34,34,135,39,2,1,1,0,2,2
35,35,136,34,6,0,1,0,4,3
36,36,137,59,4,1,1,0,4,2
37,37,138,52,1,0,2,0,2,2
38,38,139,21,6,0,2,0,2,1
39,39,140,29,1,0,3,0,2,1
40,40,141,52,2,0,2,0,1,2
41,41,142,51,3,0,1,0,3,2
42,42,143,30,5,1,1,1,3,3
43,43,144,43,3,0,2,0,1,4
44,44,145,55,1,0,3,0,2,4
45,45,146,31,4,1,2,0,2,2
46,46,147,48,3,0,2,0,1,4
47,47,148,54,1,0,4,0,4,4
48,48,149,20,8,0,2,0,1,4
49,49,150,20,6,1,1,1,1,3

___

# 2) Unificar todos los dataset de 2023 y tener todas las columnas igual que el 2022

In [6]:
# Unificar df_tabaquismo y df_nivel_actividad_fisica_2023

df_tabaquismo_nivel_actividad_fisica_2023 = pd.merge(df_tabaquismo, df_nivel_actividad_fisica_2023)
df_tabaquismo_nivel_actividad_fisica_2023

,Unnamed: 0,ID,Edad,Consumo_Alcohol,Tabaquismo,Dieta,Incidencia_Cancer,Nivel_Actividad_Fisica,Nivel_Estres
0,0,1,20,1,1,2,0,2,1
1,1,2,23,3,0,4,0,1,4
2,2,3,23,8,0,3,0,1,3
3,3,4,59,3,0,4,0,2,3
4,4,5,29,3,0,1,0,1,4
...,...,...,...,...,...,...,...,...,...
95,95,96,23,3,1,1,0,3,4
96,96,97,54,4,1,1,0,4,4
97,97,98,33,8,0,3,0,3,2
98,98,99,59,8,0,1,0,3,4
99,99,100,41,6,1,4,1,3,2

In [7]:
df_tabaquismo_nivel_actividad_fisica_2023.isnull().sum()

Unnamed: 0                0
ID                        0
Edad                      0
Consumo_Alcohol           0
Tabaquismo                0
Dieta                     0
Incidencia_Cancer         0
Nivel_Actividad_Fisica    0
Nivel_Estres              0
dtype: int64

In [8]:
df_nivel_actividad_fisica_2022

,Unnamed: 0,ID,Edad,Consumo_Alcohol,Tabaquismo,Dieta,Incidencia_Cancer,Nivel_Actividad_Fisica,Nivel_Estres
0,0,101,20,5,1,3,1,4,4
1,1,102,23,6,1,1,1,2,3
2,2,103,23,6,0,2,0,2,2
3,3,104,59,7,0,3,0,1,3
4,4,105,29,9,0,4,0,4,2
5,5,106,39,5,1,3,1,1,3
6,6,107,41,2,0,3,0,3,1
7,7,108,56,5,1,4,1,4,3
8,8,109,43,9,1,2,1,4,1
9,9,110,26,2,1,1,0,2,2
10,10,111,44,2,0,1,0,4,2
11,11,112,44,8,1,1,1,2,2
12,12,113,32,4,0,4,0,4,1
13,13,114,21,7,0,4,0,3,4
14,14,115,58,8,1,1,1,1,1
15,15,116,59,3,0,3,0,2,4
16,16,117,43,1,1,3,0,2,1
17,17,118,44,4,1,1,0,4,1
18,18,119,37,6,0,1,0,4,1
19,19,120,57,5,0,4,0,4,1
20,20,121,45,5,1,1,1,2,2
21,21,122,33,7,0,2,0,2,4
22,22,123,28,5,1,3,1,2,4
23,23,124,29,5,0,1,0,4,1
24,24,125,40,4,1,1,0,4,4
25,25,126,36,5,0,4,0,3,3
26,26,127,25,5,1,2,1,3,3
27,27,128,35,9,0,4,0,3,2
28,28,129,20,5,1,1,1,1,2
29,29,130,38,4,0,3,0,4,2
30,30,131,55,8,0,2,0,4,3
31,31,132,44,6,0,2,0,2,2
32,32,133,49,6,1,2,1,3,2
33,33,134,39,1,0,4,0,4,1
34,34,135,39,2,1,1,0,2,2
35,35,136,34,6,0,1,0,4,3
36,36,137,59,4,1,1,0,4,2
37,37,138,52,1,0,2,0,2,2
38,38,139,21,6,0,2,0,2,1
39,39,140,29,1,0,3,0,2,1
40,40,141,52,2,0,2,0,1,2
41,41,142,51,3,0,1,0,3,2
42,42,143,30,5,1,1,1,3,3
43,43,144,43,3,0,2,0,1,4
44,44,145,55,1,0,3,0,2,4
45,45,146,31,4,1,2,0,2,2
46,46,147,48,3,0,2,0,1,4
47,47,148,54,1,0,4,0,4,4
48,48,149,20,8,0,2,0,1,4
49,49,150,20,6,1,1,1,1,3

___

# 3) Crear un dataset que tenga toda la data de 2022 y 2023

In [9]:
df_tabaquismo_nivel_actividad_fisica_2022_y_2023 = pd.merge(df_tabaquismo_nivel_actividad_fisica_2023, df_nivel_actividad_fisica_2022, how='outer')
df_tabaquismo_nivel_actividad_fisica_2022_y_2023

,Unnamed: 0,ID,Edad,Consumo_Alcohol,Tabaquismo,Dieta,Incidencia_Cancer,Nivel_Actividad_Fisica,Nivel_Estres
0,0,1,20,1,1,2,0,2,1
1,1,2,23,3,0,4,0,1,4
2,2,3,23,8,0,3,0,1,3
3,3,4,59,3,0,4,0,2,3
4,4,5,29,3,0,1,0,1,4
...,...,...,...,...,...,...,...,...,...
145,45,146,31,4,1,2,0,2,2
146,46,147,48,3,0,2,0,1,4
147,47,148,54,1,0,4,0,4,4
148,48,149,20,8,0,2,0,1,4
149,49,150,20,6,1,1,1,1,3

___

# 4) Relacion entre consumo de alcohol y cancer (hint groupby mean)

In [10]:
relacion_entre_consumo_alcohol_y_cancer = df_tabaquismo_nivel_actividad_fisica_2022_y_2023.groupby('Incidencia_Cancer').agg({'Consumo_Alcohol': 'mean'})
relacion_entre_consumo_alcohol_y_cancer

                   Consumo_Alcohol
Incidencia_Cancer
0                         4.431193
1                         6.878049

___

# 5) Relacion entre tabaquismo y cancer (hint groupby)

In [11]:
relacion_entre_tabaquismo_y_cancer = df_tabaquismo_nivel_actividad_fisica_2022_y_2023.groupby('Incidencia_Cancer').agg({'Tabaquismo': 'mean'})
relacion_entre_tabaquismo_y_cancer

                   Tabaquismo
Incidencia_Cancer
0                    0.293578
1                    1.000000

___

# 6) Correlacion entre tabaquismo y cancer

In [12]:
df_tabaquismo_nivel_actividad_fisica_2022_y_2023['Tabaquismo'].corr(df_tabaquismo_nivel_actividad_fisica_2022_y_2023['Incidencia_Cancer'])

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

0.6298869517216777

___

# 7) Correlacion entre consumo de alcohol y cancer

In [13]:
df_tabaquismo_nivel_actividad_fisica_2022_y_2023['Consumo_Alcohol'].corr(df_tabaquismo_nivel_actividad_fisica_2022_y_2023['Incidencia_Cancer'])

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

0.4334315250804655

___

# 8) ¿Cree que es el alcohol o es el tabaquismo el mayor causante de cancer?

#### Hay una correlacion mas fuerte entre tabaquismo y cancer, por lo tanto puedo decir que el tabaquismo es el mayor causante de cancer que el consumo de alcohol.